.env
*.db
*.xml
.idea/
*.iml
*.sqlite
*.sqlite3
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
.idea/
.pytest_cache/
.mypy_cache/
*.log
webapp/node_modules/
/brainboosty_hook_bot.egg-info/top_level.txt
/brainboosty_hook_bot.egg-info/SOURCES.txt
/alembic/script.py.mako
/brainboosty_hook_bot.egg-info/PKG-INFO
/brainboosty_hook_bot.egg-info/dependency_links.txt
